{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">고객 정보 조회</h1>
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="nav-item"> <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">이름으로 검색</a> </li>
              <li class="nav-item"> <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo2">지역별 조회</a> </li>
            </ul>
            <div class="tab-content mt-2">
              <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                <p class="">When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms.</p>

                <form action="{% url 'customers' %}" method="POST" class="form-inline" style="margin-bottom: 20px">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" id="search" name="search" placeholder="검색">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></div>
                  </div>
                </form>

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>customer_id</th>
                        <th>name</th>
                        <th>address</th>
                        <th>website</th>
                        <th>credit_limit</th>
                        <th>city</th>
                        <th>구입 내역</th>
                        <th>제품별 구입 횟수</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in customers %}
                        <tr>
                          <td>{{ customer.customer_id }}</td>
                          <td>{{ customer.name }}</td>
                          <td>{{ customer.address }}</td>
                          <td>{{ customer.website }}</td>
                          <td>{{ customer.credit_limit }}</td>
                          <td>{{ customer.city }}</td>
                          <td>
                            <button type="button" class="show-orders btn btn-primary" name="button" style="height:20px font-size:10px">
                              구입 내역
                            </button>
                            <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">모달테스트</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">X</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">내용 입력</div>
                                  <div class="modal-footer">
                                    <a class=btn" id="modalY" href="#">예</a>
                                    <button class="btn" type="button" data-dismiss="modal">아니요</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <button type="button" class="show-counts btn btn-primary" name="button" style="height:35px font-size:35px">
                              제품별 구입 횟수
                            </button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="tabtwo2" role="tabpanel">
                  <p class="">When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms.</p>

                <form action="{% url 'customers' %}" method="POST" class="form-inline" style="margin-bottom: 20px">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" id="search" name="search" placeholder="검색">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></div>
                  </div>
                </form>

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>customer_id</th>
                        <th>name</th>
                        <th>address</th>
                        <th>website</th>
                        <th>credit_limit</th>
                        <th>city</th>
                        <th>구입 내역</th>
                        <th>제품별 구입 횟수</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in customers %}
                        <tr>
                          <td>{{ customer.customer_id }}</td>
                          <td>{{ customer.name }}</td>
                          <td>{{ customer.address }}</td>
                          <td>{{ customer.website }}</td>
                          <td>{{ customer.credit_limit }}</td>
                          <td>{{ customer.city }}</td>
                          <td>
                            <button type="button" class="show-orders btn btn-primary" name="button">
                              구입 내역
                            </button>
                          </td>
                          <td>
                            <button type="button" class="show-counts btn btn-primary" name="button">
                              제품별 구입 횟수
                            </button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <nav aria-label="Page navigation" style="padding-top: 10px">
        <ul class="pagination justify-content-center">
          {% if employees.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?ep={{ customers.previous_page_number }}">이전</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">이전</a>
          </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="#">{{ customers.number }} / {{ customers.paginator.num_pages }}</a>
          </li>
          {% if customers.has_next %}
          <li class="page-item">
              <a class="page-link" href="?ep={{ customers.next_page_number }}">다음</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
  $('#testBtn').click(function(e){
    e.preventDefault();
    $('#testModal').modal("show");
  });
</script>

{% endblock content %}