{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5" style="">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-3">{{customer_name  }} 고객 구입 내역</h3>

            <div class="table-responsive table-hover">
                <table class="table">
                  <thead>
                    <tr>
                        <th>고객 이름</th>
                        <th>배송 상태</th>
                        <th>주문 ID</th>
                        <th>담당자 ID</th>
                        <th>주문 날짜</th>
                        <th>제품 이름</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cus_order_details in cus_order_detail %}
                    <tr>
                        <td>{{ cus_order_details.0 }}</td>
                        <td>{{ cus_order_details.2 }}</td>
                        <td>{{ cus_order_details.3 }}</td>
                        <td>
                            {% if cus_order_details.4 != None %}
                                {{ cus_order_details.4 }}
                            {% else %}

                            {% endif %}
                        </td>
                        <td>{{ cus_order_details.5 }}</td>
                        <td>{{ cus_order_details.6 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

                {% if cus_order_detail|length == 0 %}
                <h4>고객이 구입한 내역이 없습니다.</h4>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}