{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h1 class="">부경재고관리시스템 로그인</h1>
            <div class="form-group"> <label>직원 이메일</label>
              <input name="email" id="email" type="email" class="form-control" placeholder="이메일을 입력해주세요."> <small class="form-text text-muted"></small> </div>
            <div class="form-group"> <label>비밀번호</label>
              <input name="password" id="password" type="password" class="form-control" placeholder="비밀번호"> </div>
            <button type="submit" class="btn btn-primary">로그인</button>
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock content %}