{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="">
            <h1 class="">부경재고관리시스템 로그인</h1>
            <div class="form-group"> <label>직원 이메일</label> <input type="email" class="form-control" placeholder="Enter email"> <small class="form-text text-muted"></small> </div>
            <div class="form-group"> <label>비밀번호</label> <input type="password" class="form-control" placeholder="Password"> </div> <button type="submit" class="btn btn-primary">로그인</button>
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock content %}