{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h2 class="">부경재고관리시스템 월별통계</h2>





        </div>
      </div>







      <nav aria-label="Page navigation" style="padding-top: 10px">
        <ul class="pagination justify-content-center">
          {% if statistics.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?ep={{ statistics.previous_page_number }}">이전</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">이전</a>
          </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="#">{{ statistics.number }} / {{ statistics.paginator.num_pages }}</a>
          </li>
          {% if statistics.has_next %}
          <li class="page-item">
              <a class="page-link" href="?ep={{ statistics.next_page_number }}">다음</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
</div>


{% endblock content %}