{% extends "base.html" %}
{% block content %}
{% load static %}

<canvas id="myChart" width = "400" height="400"> </canvas>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type:

</script>


<!--<div class="py-5">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <h1 class="display-4">월별 통계</h1>-->
<!--          <div class="col-md-12">-->


<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
{% endblock content %}