
{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 class="">부경재고관리시스템 제품정보보기</h2>
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" style="">
            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">기본보기</a> </li>
            <li class="nav-item"> <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">순위순</a> </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-12">
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" id="category_id" data-toggle="dropdown">제품 카테고리</button>
            <div class="dropdown-menu" id="category">
                <a class="dropdown-item" href="#">전체 카테고리</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">카테고리 1</a>
                <a class="dropdown-item" href="#">카테고리 2</a>
                <a class="dropdown-item" href="#">카테고리 3</a>
                <a class="dropdown-item" href="#">카테고리 4</a>
                <a class="dropdown-item" href="#">카테고리 5</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 10px">
         <div class="col-12">
          <form class="form-inline">
              <input type="text" class="form-control"  id="" placeholder=~원> ~
              <input type="text" class="form-control" id="" placeholder="~원">
            <button type="submit" style="margin-right: 5px" class="btn btn-primary ">검색</button>
          </form>
        </div>
      </div>

        <div class="row">
            <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Hire Date</th>
                    <th>Job Title</th>
                </tr>
              </thead>
              <tbody>
              {% for employee in employees %}
                <tr>
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.hire_date }}</td>
                    <td>{{ employee.job_title }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation" style="padding-top: 10px">
            <ul class="pagination justify-content-center">
              {% if employees.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?ep={{ employees.previous_page_number }}">이전</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">이전</a>
              </li>
              {% endif %}
              <li class="page-item">
                <a class="page-link" href="#">{{ employees.number }} / {{ employees.paginator.num_pages }}</a>
              </li>
              {% if employees.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?ep={{ employees.next_page_number }}">다음</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
              </li>
              {% endif %}
            </ul>
          </nav>
            </div>
        </div>

            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">Who formed us in his own image, and the breath of that universal love which bears and sustains us. And then, my friend.</p>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">In my soul and absorb its power, like the form of a beloved mistress, then I often think with longing.</p>
            </div>
          </div>
        </div>
    </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
    $('#category > a').on('click', function() {
    $('#category_id').text($(this).text());
    // alert($(this).attr('value'));
});
</script>

{% endblock content %}