{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">고객 정보 조회</h1>
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="nav-item"> <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">이름으로 검색</a> </li>
              <li class="nav-item"> <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo2">지역별 조회</a> </li>
            </ul>
            <div class="tab-content mt-2">

              <div class="tab-pane fade show active" id="tabone" role="tabpanel">
               <form action="{% url 'showcustomers' %}" method="POST" class="form-inline" style="margin-bottom: 20px">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" id="search" name="search" placeholder="검색">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></div>
                  </div>
                </form>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>고객 아이디</th>
                        <th>이름</th>
                        <th>주소</th>
                        <th>사이트</th>
                        <th>구매 상한</th>
                        <th>거주 도시</th>
                        <th>구입 내역</th>
                        <th>제품별 구입 횟수</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in customers %}
                        <tr>
                          <td>{{ customer.customer_id }}</td>
                          <td>{{ customer.name }}</td>
                          <td>{{ customer.address }}</td>
                          <td>{{ customer.website }}</td>
                          <td>{{ customer.credit_limit }}</td>
                          <td>{{ customer.city }}</td>
                          <td>
                            <button onclick="location.href='detail_customerorders?customer_id={{ customer.customer_id }}'" class="btn btn-primary">구입내역</button>
                          </td>
                          <td>
                            <button onclick="location.href='detail_customeritemcounts?customer_id={{ customer.customer_id }}'" class="btn btn-primary">제품별 구입횟수</button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

               <nav aria-label="Page navigation" style="padding-top: 10px">
                  <ul class="pagination justify-content-center">
                    {% if customers.has_previous %}
                    <li class="page-item">
                        <form action="?ep={{ customers.previous_page_number }}" method="post">
                              {% csrf_token %}
                            <input type="hidden" value="{{ search }}" name="search">
                              <button class="page-link" type="submit">이전</button>
                          </form>
                    </li>

                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">이전</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                      <a class="page-link" href="#">{{ customers.number }} / {{ customers.paginator.num_pages }}</a>
                    </li>
                    {% if customers.has_next %}
                    <li class="page-item">
                        <form action="?ep={{ customers.next_page_number }}" method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{ search }}" name="search">
                          <button class="page-link" type="submit">다음</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">다음</a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>

              </div>


              <div class="tab-pane fade" id="tabtwo2" role="tabpanel">

                <form action="{% url 'showcustomers' %}" method="POST" class="form-inline" style="margin-bottom: 20px">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" id="city_search" name="city_search" placeholder="검색">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></div>
                  </div>
                </form>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>고객 아이디</th>
                        <th>이름</th>
                        <th>주소</th>
                        <th>사이트</th>
                        <th>구매 상한</th>
                        <th>거주 도시</th>
                        <th>구입 내역</th>
                        <th>제품별 구입 횟수</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in city_customers %}
                        <tr>
                          <td>{{ customer.customer_id }}</td>
                          <td>{{ customer.name }}</td>
                          <td>{{ customer.address }}</td>
                          <td>{{ customer.website }}</td>
                          <td>{{ customer.credit_limit }}</td>
                          <td>{{ customer.city }}</td>
                          <td>
                            <button onclick="location.href='detail_customerorders?customer_id={{ customer.customer_id }}'" class="btn btn-primary">구입내역</button>
                          </td>
                          <td>
                            <button onclick="location.href='detail_customeritemcounts?customer_id={{ customer.customer_id }}'" class="btn btn-primary">제품별 구입횟수</button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation" style="padding-top: 10px">
                  <ul class="pagination justify-content-center">
                    {% if city_customers.has_previous %}
                    <li class="page-item">
                        <form action="?cp={{ city_customers.previous_page_number }}" method="post">
                              {% csrf_token %}
                            <input type="hidden" value="{{ city_search }}" name="city_search">
                              <button class="page-link" type="submit">이전</button>
                          </form>
                    </li>

                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">이전</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                      <a class="page-link" href="#">{{ city_customers.number }} / {{ city_customers.paginator.num_pages }}</a>
                    </li>
                    {% if city_customers.has_next %}
                    <li class="page-item">
                        <form action="?cp={{ city_customers.next_page_number }}" method="post">
                              {% csrf_token %}
                            <input type="hidden" value="{{ city_search }}" name="city_search">
                              <button class="page-link" type="submit">다음</button>
                          </form>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">다음</a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
  $('#show-orders').click(function(e){
    e.preventDefault();
    $('#testModal').modal("show");
  });
</script>

{% endblock content %}